# streamlit
# pandas
# Pillow
# deepface==0.0.92
# opencv-python-headless
# tensorflow-cpu==2.10.0
# numpy==1.23.5

# # Các gói quan trọng đã khắc phục lỗi Deep Learning:
# deepface==0.0.92
# opencv-python-headless
# tensorflow-cpu==2.10.0
# numpy==1.23.5

# # Cố định các gói chính để giải quyết xung đột Protobuf:
# streamlit==1.22.0
# pandas==1.3.5 

# # Giữ lại các gói phụ thuộc vì chúng gây lỗi cài đặt (Installer Error)
# rich==13.7.1
# markdown-it-py==3.0.0
# pygments==2.16.1
# mdurl==0.1.2
# Pillow

# Các gói Deep Learning/CV (Giữ nguyên)
deepface==0.0.92
opencv-python-headless
tensorflow-cpu==2.10.0
numpy==1.23.5

# Hạ cấp sâu hơn để tránh lỗi tính năng và xung đột Protobuf
streamlit==1.21.0
pandas==1.3.5 

# Giữ lại các gói phụ thuộc để tránh lỗi cài đặt
rich==13.7.1
markdown-it-py==3.0.0
pygments==2.16.1
mdurl==0.1.2
Pillow