# streamlit
# deepface
# opencv-python
# # opencv-python-headless
# # opencv-python-headless==4.8.1.78
# pandas
# numpy
# # tensorflow
# tensorflow==2.10.1

streamlit
deepface==0.0.91
opencv-python-headless==4.8.1.78
pandas
numpy
h5py
tensorflow==2.10.1